@import url('http://127.0.0.1:3001/index.html#');
*
{
 margin: 0%;
 padding: 0%;
 box-sizing: border-box;
 font-family: 'Poppins', sans-serif;
}
body
{
 display: flex;
 justify-content: center;
 align-items: center;
 min-height: 100vh;
 background: #0f1219;   
}
nav
{
  position: relative;
  display: flex;
  background: #0f1214;
  padding: 10px 0;
    
}